body { background: #cce4a9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-payment-0 { color: #c67b2e; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #cd42f; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #6b259c; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #a9ff87; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #334fe0; font-size: 17px; margin-bottom: 5px; }
.block-database-5 { color: #70beee; font-size: 16px; margin-bottom: 5px; }
.block-database-6 { color: #7dff14; font-size: 12px; margin-bottom: 5px; }
.block-product-7 { color: #ebb9f8; font-size: 18px; margin-bottom: 5px; }
.block-notify-8 { color: #42322b; font-size: 21px; margin-bottom: 5px; }
.block-user-9 { color: #6c7698; font-size: 20px; margin-bottom: 5px; }
.block-notify-10 { color: #441804; font-size: 19px; margin-bottom: 5px; }